@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-regular {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    width: 100vw;
    margin: 0;
    font-size: 16px;

}

main {
    width: 75vw;
    margin: 0 auto;
    max-width: 1440px;
}

main > section {
    margin: 0 auto;
    margin-top: 5%;
    
}

/* shared styles */
.dark-2 {
    color: #424242;
}

.dark-2 {
    color: #727272;
}

.dark-3 {
    color: #727272;
}

.orange {
    color: #FF900E;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    border: 0;
    width: 10vw;
    height: 6vh;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    margin: 3% 0 5% 0;
}

.section-title {
    font-weight: bold;
    font-size: 2.81rem;
         
}
.section-description {
    color: #727272;
    font-weight: normal;
    font-size: 1rem;
}


/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.1);
    
    padding: 0.7% 10%;
    max-width: 100%;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

/* nav bar related styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 1.125rem;
    
}

.nav-item {
    margin-right: 10%;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    white-space:nowrap;
    
    
}

.brand-name {
    font-weight: bold;
    font-size: 2.8rem;
}


/* banner styles*/
.banner-texts {
    text-align: center;
    width: 63%;
    margin: 0 auto;
}

.banner h2 {
    font-weight: bold;
    font-size: 4rem;   
}

.banner-img {
  margin: 0;
  width: 100%;
}


/* features-grid styles*/

.features-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3%;
    
}



.features-grid-texts {
    margin-left: 4%;
    max-width: 537px;
}

#quick-list {
   font-weight: 500;
}


/* features styles */

.features{
    display: flex;
    gap:12%;
    margin-top: 10%;
}
.vl {
    border-left: 4px solid #FF900E;
    height:11vh;
    margin-top: 5vh;
    margin-right: 3%;
  }

  .features .headings {
    display: flex;
    max-width: 468px;
    justify-content: space-between;
  }

  .features .section-description {
    max-width: 586px;
    margin-top: 0;
    margin-bottom: 2%;
  }

  .features .cards {
   
    
    color: #727272;
    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    max-width: 586px;
    border-radius: 8px;
    padding: 2% 2%;
    margin-bottom: 3%;
    
  }

  .features .cards h1 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
  }

  .features .cards p {
    font-weight: normal;
    font-size: 1rem;
  }

  .features-image-and-btn-container img{
    height: 80%;
    display: block;
  }

  .features-image-and-btn-container .btn-primary {
    
    width: 320px;
    height: 200px;
    color: white;
    font-weight: 500;
    font-size: 1.56rem;
    padding: 2% 2%;
    margin-left: -6%;
    margin-top: -17%;
  }

  #badge-year {
    font-weight: bold;
    font-size: 4.06rem;

  }


  /* facts section */
  .facts .section-description{
    max-width: 542px;
    
  }

  .fact-cards-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 9%;
    
    
  }

  .fact-cards {
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 5%;
  } 

  .fact-cards .num {
    font-weight: 600;
    font-size: 2.81rem;
    margin-top: 2%;
    margin-bottom: 0;
  }

  .fact-cards .fact-name {
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 2%;
  }


  /* Sponsors Section */
  .sponsors {
    text-align: center;
    margin-top: 10%;
  }

  .sponsors .section-description {
    max-width: 542px;
    margin: 0 auto;
    margin-top: -2%;
    margin-bottom: 5%;
  }

   .sponsor-logo-container {
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
   }


   /* footer */

   footer {
    max-width: 1440px;
    height: 90px;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin: 10% auto;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 2%;
   }



/* Responsive */
@media screen and (max-width: 576px){

    html {
        font-size: 12px;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-menu {
       flex-direction: column;
        
    }
    
    .banner-texts {
        
        width: 100%;
    }


    .btn-primary {
        
        width: 30vw;
        height: 5vh;
        
    }

    .features-grid {
       
        flex-direction: column;
    }
    
    .img-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3%;
        
    }
    
    .img-grid img {
        width: 95%;
    }

    /* features section */
    .features {
        flex-direction: column;
    }

    
    .vl {
        
        height:10vh;
        margin-top: 3vh;  
      }

      .features-image-and-btn-container img{
       width: 100%;
      }  

      .features-image-and-btn-container .btn-primary {
        margin: 0 auto;
        margin-top: 20px;
        
        
      }

      .fact-cards-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2%;
        
          
      }


      .sponsor-logo-container img{
        width: 15%;
      }
        
      .fact-cards {
        width: 150px;
        height: 150px;
        
      } 

}



